@import "_shared";

.cbl-instructions {
	color: $accentColor;
	font-size: 1.15rem;
	margin: 5rem auto 0;
	max-width: 20rem;
}

.cbl-name {
	@extends $inlineForm;

	margin: 3rem auto;
	max-width: 30rem;
	text-align: center;
	width: 90%;
}