@import "_shared";

.em-col {
	margin-bottom: 5rem;

	@media (min-width: 50em) {
		margin-bottom: 0;
		width: 45%;

		&:nth-child(1) {
			float: left;
		}

		&:nth-child(2) {
			float: right;

			.em-avatar {
				text-align: right;
			}
		}
	}
}

.em-avatar {
	font-size: 1.5rem;
	font-weight: normal;

	@media (min-width: 40em) {
		font-size: 2.25rem;
	}
}

.em-message {
	@extends $inlineForm;
}