@import "_shared";

* {
    box-sizing: border-box;
}

html,
body,
#endpoint-messaging,
.em-col {
    height: 90%;
}

body {
    margin: 8px;
    padding: 0;
    position: relative;
}

.em-col {
    border: 1px solid #ddd;
    margin-bottom: 5rem;
    position: relative;

    @media (min-width: 50em) {
        margin-bottom: 0;
        width: 45%;

        &:nth-child(1) {
            float: left;
        }

        &:nth-child(2) {
            float: right;

            .em-avatar {
                text-align: right;
            }
        }
    }
}

.em-avatar {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    font-size: 1.5rem;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    @media (min-width: 40em) {
        font-size: 2.25rem;
    }
}

.em-thread {
    height: 100%;
    overflow-y: scroll;
    padding: 7.5rem 1rem 0 1rem;
    -webkit-overflow-scrolling: touch;
}

.em-message {
    @extends $inlineForm;
    background-color: #fff;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
    bottom: 0;
    margin: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;
}