<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <title>Video Call</title>
    <link rel="stylesheet" href="/css/group-messaging.css">
</head>
<!-- <body class="popup-active"> -->
<body>

    <script type="text/tmpl" id="buddy-list-user">
        <li class="buddy-list--mini__user" id="user-<%= $.helpers.getClassName(endpointId) %>">
            <div class="buddy-list--mini__user__name" data-id="<%= endpointId %>"><%= endpointId %></div>
        </li>
    </script>

    <script type="text/tmpl" id="prompt-call">
        <div class="popup">
            <div class="popup__wrapper">
                <h2 class="popup__wrapper__title">Calling <%= endpointId %></h2>
                <p>Place a call to <%= endpointId %>?</p>
                <nav class="popup__wrapper__options">
                    <button class="popup__wrapper__options__btn">Cancel</button>
                    <button class="popup__wrapper__options__btn--success">Call</button>
                </nav>
            </div>
        </div>
    </script>

    <script type="text/tmpl" id="call-warning">
        <div class="popup">
            <div class="popup__wrapper">
                <h2 class="popup__wrapper__title">Calling <%= endpointId %></h2>
                <p>Please allow access to your webcam in order to begin the video call.</p>
                <nav class="popup__wrapper__options">
                    <button class="popup__wrapper__options__btn">Got it</button>
                </nav>
            </div>
        </div>
    </script>

    <script type="text/tmpl" id="call-preview">
        <div class="popup">
            <div class="popup__wrapper">
                <h2 class="popup__wrapper__title"><%= endpointId %></h2>
                <div id="video-preview"></div>
                <nav class="popup__wrapper__options">
                    <button class="popup__wrapper__options__btn">Cancel</button>
                    <button class="popup__wrapper__options__btn--success">Start Call</button>
                </nav>
            </div>
        </div>
    </script>

    <div class="video-chat">
    </div>

    <header class="group-chat__header">
        <button class="group-list-open">View Buddies</button>
        <div class="group-chat__header__me">
            <a href="#">Log out</a> as John
        </div>
    </header>

    <div class="chat-window">
        <nav class="group-list">
            <ul class="buddy-list--mini">
                <li class="buddy-list--mini__user active">
                    <div class="buddy-list--mini__user__name">Users On This Page</div>
                </li>
            </ul>
        </nav>

    </div>

    <script src="https://cdn.respoke.io/respoke.min.js"></script>

    <!-- injector:js -->
    <script src="/app/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/lib/helpers.js"></script>
    <script src="/app/js/lib/md5.js"></script>
    <script src="/app/js/lib/tmpl.js"></script>
    <script src="/app/js/models/Client.js"></script>
    <script src="/app/js/models/Endpoint.js"></script>
    <script src="/app/js/models/StatusTypes.js"></script>
    <!-- endinjector -->

    <script>
        'use strict';

        (function () {

            var $openBtn = $('.group-list-open'),
                $closeBtn = $('.group-list-close');

            function checkStatus () {
                if ($('.group-list').length) {
                    openMenu();
                } else {
                    closeMenu();
                }
            }

            function hideMenu (e) {
                var $openedMenu = $(e.target).closest('.group-list--is-open');

                if ( ($openedMenu.length === 0) && ($(e.target)[0] !== $openBtn[0]) ) {
                    closeMenu();
                }
            }

            function openMenu () {
                $('html, body').animate({
                    scrollTop: 0
                }, 500);
                $('.group-list').removeClass('group-list').addClass('group-list--is-open');
                $('.group-chat').removeClass('group-chat').addClass('group-chat--open-panel');
            }

            function closeMenu () {
                $('.group-list--is-open').removeClass('group-list--is-open').addClass('group-list');
                $('.group-chat--open-panel').addClass('group-chat').removeClass('group-chat--open-panel');
            }

            $openBtn.on('click', checkStatus);
            $closeBtn.on('click', closeMenu);
            $('body').on('click', hideMenu);

        })();
    </script>

    <script type="text/javascript" src="controllers/BuddylistCtrl.js"></script>
    <script type="text/javascript" src="controllers/CallpromptCtrl.js"></script>
    <script type="text/javascript" src="controllers/CallwarningCtrl.js"></script>
    <script type="text/javascript" src="controllers/CallpreviewCtrl.js"></script>
    <script type="text/javascript" src="controllers/MainCtrl.js"></script>
    <script type="text/javascript">
        App.controllers.videoCallCtrl({
            renderTo: 'body',
            username: new Date().getTime() // Temporary
        });
    </script>
</body>
</html>