<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Endpoint Presence</title>
	<link rel="stylesheet" href="/css/endpoint-presence.css">
</head>
<body>
	<h1 class="user-handle">
		<img src="http://dummyimage.com/55x52/000000/ffffff&text=×" alt="Avatar">
		User handle
	</h1>
	<form class="user-status-dropdown">
		<div class="user-status-dropdown__status--available">Available</div>
		<select class="user-status-dropdown__status__select">
			<option>Available</option>
			<option>Away</option>
			<option>Busy</option>
			<option>Be right back</option>
			<option>Do not disturb</option>
		</select>
	</form>

	<br>
	<br>
	<br>

	<ul class="buddy-list">
		<li class="buddy-list__user">
			<img src="http://dummyimage.com/51x51/000000/ffffff&text=×" alt="User" class="buddy-list__user__avatar">
			<div class="buddy-list__user__name">Alice</div>
			<div class="buddy-list__user__status--available">Available</div>
		</li>
		<li class="buddy-list__user">
			<img src="http://dummyimage.com/51x51/000000/ffffff&text=×" alt="User" class="buddy-list__user__avatar">
			<div class="buddy-list__user__name">Daniel</div>
			<div class="buddy-list__user__status--away">Away</div>
		</li>
		<li class="buddy-list__user">
			<img src="http://dummyimage.com/51x51/000000/ffffff&text=×" alt="User" class="buddy-list__user__avatar">
			<div class="buddy-list__user__name">Janet</div>
			<div class="buddy-list__user__status--dnd">Do not disturb</div>
		</li>
		<li class="buddy-list__user">
			<img src="http://dummyimage.com/51x51/000000/ffffff&text=×" alt="User" class="buddy-list__user__avatar">
			<div class="buddy-list__user__name">Jennifer</div>
			<div class="buddy-list__user__status--busy">Busy</div>
		</li>
	</ul>
</body>
</html>