<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Endpoint Presence</title>
	<link rel="stylesheet" href="/css/endpoint-presence.css">
</head>
<body>
	<h1 class="ep-handle">
		<img src="http://dummyimage.com/55x52/000000/ffffff&text=×" alt="Avatar">
		User handle
	</h1>
	<form class="ep-status-dropdown">
		<div class="ep-status-dropdown__status--available">Available</div>
		<select class="ep-status-dropdown__status__select">
			<option>Available</option>
			<option>Away</option>
			<option>Busy</option>
			<option>Do not disturb</option>
		</select>
	</form>
</body>
</html>